# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.parcel-cache/1eb868248e336d24
.parcel-cache/3b1a2a6c2c06d266
.parcel-cache/4e4cf22af05deb95
.parcel-cache/5beac5adfc3ccf69
.parcel-cache/5fb43b9b408a55c0
.parcel-cache/6b39c69f8e07495a
.parcel-cache/6e75066bb3c1b475
.parcel-cache/48d6dead65f3927c
.parcel-cache/56f6781ace0eff76
.parcel-cache/90456a422db8c8ed
.parcel-cache/b6771966d4c10afb
.parcel-cache/bc548ad539a492c3
.parcel-cache/data.mdb
.parcel-cache/e5fba8c2e7c4ce37
.parcel-cache/f3f20f349aa452fc
.parcel-cache/lock.mdb
dist/economica-bold.2ad241ec.ttf
dist/economica-bold.41f3f70d.ttf
dist/economica-bold.a4fc1a89.ttf
dist/email_icon.76f72482.png
dist/github_icon.f77180bd.png
dist/index.2d2f0033.css
dist/index.2d2f0033.css.map
dist/index.975ef6c8.js
dist/index.975ef6c8.js.map
dist/index.html
dist/linkedin_icon.305baa80.png
dist/profile_pic.67931f04.png
dist/project1.cae3be24.png
dist/project2.d47934b7.png
dist/project3.104d946c.png
dist/roboto-condensed.light.2add8c9e.ttf
dist/roboto-condensed.light.a0cbe068.ttf
dist/roboto-condensed.light.a5f9c5f3.ttf
dist/twitter_icon.96c76d1b.png
